/* styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #f5f1ed;
}

body { /* type selector */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-color: #464646;
	margin: 0 auto;
	background-color: #e2e7c4; 
	width: 950px;
	border: 3px solid #464646;
	
	
}

/* styles for the header */
header { /* type selector */
	border-bottom: 2px solid #464646;
	height: 150px;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	
	
}

h1, h2{ /* multiple selector */
	color: #464646;
}

header h1 {
	font-size: 175%;
}

header h2 {
	font-size: 135%;
}

/* styles in the main section */

aside img {
	border: 1px solid #464646;
}

main {
	float: left;
	width: 650px;
	padding: .5em;
	
}

main>ul {
	padding: 0 2em 0 2em;
}
main li { /* descendant selector */
	font-size: 125%;
	list-style-type: square;
}

main>p { /* child selector */
	font-size: 125%;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
}

#sidebarA {
	float: right;
	width: 250px;
	margin-top: 2em;
	margin-right: .5em;
	
	
}

#contact {
	font-size: 250%;
	text-align: center;
	border: 2px double #464646;
	border-radius: 10px 20px 0 20px;
	box-shadow: 2px 2px 3px 3px #a8b266;
	background-color: white;
	margin-top: 1em;
}


.large { /* class selector */
	font-size: 200%;
}

a:link { /* psuedo selector */
	color: #a8b266;;
	font-style: normal;
}

a:hover, a:focus { /* psuedo selector */
	color: #464646;
	}
	
/* styles for the footer */
footer {
	clear: both;
}

#copyright { /* id selector */
	text-align: center;
}




